* Starter code below. Question will be supplied separately.
* Data from: https://data.london.gov.uk/dataset/animal-rescue-incidents-attended-by-lfb

In [5]:
### DO NOT EDIT THIS CODE CELL, YOU MUST EXECUTE THIS CELL BEFORE YOU BEGIN
! pip install pandas
! pip install openpyxl




print("\n" * 5)
print('==== London Animal Rescue Dataset ====')
print('Each row is an incident, where animal rescue responded to a call.\n')

print('Column Names and Descriptions')
columns_dict = {'animal': 'animal type',
                'description':'description of incident',
                'cost' : 'total cost of incident',
                'property' : 'type of property where incident occurred'}

for key, value in columns_dict.items():
    print(f" * {key}: {value}")
print("\n" * 5)




import pandas as pd
url = 'https://data.london.gov.uk/download/animal-rescue-incidents-attended-by-lfb/01007433-55c2-4b8a-b799-626d9e3bc284/Animal%20Rescue%20incidents%20attended%20by%20LFB%20from%20Jan%202009.csv.xlsx'
raw_df = pd.read_excel(url)

# reduce to target columns
keep_list = ['AnimalGroupParent', 'IncidentNotionalCost(Â£)', 'FinalDescription', 'PropertyType']
df = raw_df.drop(columns = [x for x in raw_df.columns if x not in keep_list])

# drop rows with missing values
df = df.dropna()

# rename columns
df.columns = ['cost', 'description', 'animal', 'property']

# lowercase string values
for column in df.columns[1:]:
    df[column] = df[column].str.lower()

#check result
df.head()

Requirement already satisfied: pandas in /srv/conda/envs/notebook/lib/python3.10/site-packages (2.3.1)
Requirement already satisfied: numpy>=1.22.4 in /srv/conda/envs/notebook/lib/python3.10/site-packages (from pandas) (2.2.6)
Requirement already satisfied: python-dateutil>=2.8.2 in /srv/conda/envs/notebook/lib/python3.10/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /srv/conda/envs/notebook/lib/python3.10/site-packages (from pandas) (2025.1)
Requirement already satisfied: tzdata>=2022.7 in /srv/conda/envs/notebook/lib/python3.10/site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /srv/conda/envs/notebook/lib/python3.10/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Requirement already satisfied: openpyxl in /srv/conda/envs/notebook/lib/python3.10/site-packages (3.1.5)
Requirement already satisfied: et-xmlfile in /srv/conda/envs/notebook/lib/python3.10/site-packages (from openpyxl) (2.0.0)






==== London Animal Rescue Dataset ====
Each row is an incident, where animal rescue responded to a call.

Column Names and Descriptions
 * animal: animal type
 * description: description of incident
 * cost: total cost of incident
 * property: type of property where incident occurred

    cost description  animal                                       property
0  510.0    redacted     dog                      house - single occupancy
1  255.0    redacted     fox                                       railings
2  255.0    redacted     dog                                 pipe or drain
3  255.0    redacted   horse  intensive farming sheds (chickens, pigs etc)
4  255.0    redacted  rabbit                      house - single occupancy

In [ ]:
# add your code here